.navbar-default.affix .navbar-header .navbar-brand{
    color: #5fcf80;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #39e56a!important;
}

/*hr {
    border-color: #5fcf80;
}

.btn-primary{
    background-color: #5fcf80;
}*/

.bg-primary {
    background-color: #5fcf80;
}

.text-faded {
    color: rgba(255,255,255,.9);
}

.bg-dark {
    background-color: #5fcf80;
}

#homeHeading
{
    font-size: 400%;
}